.conteiner{
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    gap: 2px;
}
.sidevar{
    flex-grow: 1;
    background-color: aqua;
    padding: 12px 24px;

}
.contenido{
    flex-grow: 4;
    text-align: center;
    background-color: blueviolet;
}